.media-obj {
  display: flex;
  align-items: flex-start;
}

.media-obj--center {
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.media-obj--figure {
  margin-right: 1em;
}

.media-obj--height img {
    min-height: 100%;
}

.media-obj--body {
  flex: 1;
}