$dark: #090909;
$tan_light : #FFFAF6;
$tan_dark: #F4F3E7;
$accent: #EA7354;
$accent_hover: #C64827;
$linework: #C9C8BA;

$drought: #FBC679;
$flood: #2E5FAC;
$insects: #57A246;
$heat: #B42825;
$blizzard: #55C6D4;
$tornado: #672D91;
